// Donate Page Styles
.donate {
  background: url(../../../public/images/different-people-doing-volunteer-work.jpg)
    no-repeat;
  background-size: cover;
  &__bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &__button {
    height: 48px;
    color: $gray-700;
    font-weight: bold;
    @include displayFlex();
    @include transitionDefault();
    background-color: $section-bg;
    &:hover {
      background-color: $secondary !important;
      color: $white !important;
    }
    &.active {
      background-color: $secondary;
      color: $white;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__closer {
    position: absolute;
    top: 2%;
    right: 3%;
    color: $gray-700;
    font-size: 2.2rem;
    cursor: pointer;
  }
}
